openapi: 3.1.0
info:
  title: Options Market Read
  version: "1.3"
  description: >
    GET /v1/options-market-read returns a deterministic two-sentence read of
    what the options market is pricing, with methodology and caveats in
    disclosures, from a prepared PPE lognormal snapshot.
servers:
  - url: https://marketstructureos.com
    description: Public preview
  - url: http://127.0.0.1:8765
    description: Local WSGI display server
paths:
  /v1/options-market-read:
    get:
      operationId: getOptionsMarketRead
      summary: Deterministic options-market read
      parameters:
        - name: asset
          in: query
          required: false
          schema:
            type: string
            default: BTC
          description: Case-insensitive. V1 enables BTC only.
        - name: target_date
          in: query
          required: false
          schema:
            type: string
            format: date
          description: >
            ISO YYYY-MM-DD. If omitted, uses snapshot as_of date plus 30
            calendar days.
      responses:
        "200":
          description: Cached lognormal market read for the resolved expiry.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OptionsMarketReadSuccess"
        "400":
          description: Malformed input.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "422":
          description: Unsupported asset, past date, or no expiry within the permitted gap.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "503":
          description: Missing, stale, or invalid market snapshot.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "500":
          description: Unexpected internal failure.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
components:
  schemas:
    OptionsMarketReadSuccess:
      type: object
      additionalProperties: false
      required:
        - schema_version
        - ruleset_version
        - asset
        - quote_currency
        - as_of
        - as_of_display
        - snapshot_id
        - requested_target_date
        - effective_target_date
        - default_horizon_days
        - resolved_expiry
        - expiry_offset_days
        - expiry_resolution
        - max_expiry_gap_days
        - distribution_method
        - data_status
        - metrics
        - interpretation
        - disclosures
        - answer
      properties:
        schema_version:
          type: string
          const: "1.3"
        ruleset_version:
          type: string
          const: options-market-read.v1.3
        asset:
          type: string
        quote_currency:
          type: string
        as_of:
          type: string
          format: date-time
        as_of_display:
          type: string
          description: Human-readable rendering of as_of, including time and UTC.
        snapshot_id:
          type: string
        requested_target_date:
          type: ["string", "null"]
          format: date
        effective_target_date:
          type: string
          format: date
        default_horizon_days:
          type: integer
          const: 30
        resolved_expiry:
          type: string
          format: date
        expiry_offset_days:
          type: integer
          description: resolved_expiry minus effective_target_date, in calendar days.
        expiry_resolution:
          type: string
          enum: [exact, nearest_before, nearest_after]
        max_expiry_gap_days:
          type: integer
        distribution_method:
          type: string
          const: lognormal
        data_status:
          type: string
          const: cached
        metrics:
          $ref: "#/components/schemas/MarketReadMetrics"
        interpretation:
          $ref: "#/components/schemas/MarketReadInterpretation"
        disclosures:
          $ref: "#/components/schemas/MarketReadDisclosures"
        answer:
          type: string
          description: >
            At most two sentences. Sentence 1 is the dated market snapshot.
            Sentence 2 is relative priced uncertainty with ATM IV evidence.
    MarketReadMetrics:
      type: object
      additionalProperties: false
      required:
        - spot_price
        - implied_forward_price
        - median_terminal_price
        - median_vs_spot_percent
        - atm_iv_percent
        - middle_50_range
      properties:
        spot_price:
          type: number
          multipleOf: 0.01
          description: USD price serialized to 2 decimal places.
        implied_forward_price:
          type: number
          multipleOf: 0.01
          description: USD price serialized to 2 decimal places.
        median_terminal_price:
          type: number
          multipleOf: 0.01
          description: USD price serialized to 2 decimal places.
        median_vs_spot_percent:
          type: number
          multipleOf: 0.0001
          description: Percent serialized to 4 decimal places.
        atm_iv_percent:
          type: number
          multipleOf: 0.01
          description: Percent serialized to 2 decimal places.
        middle_50_range:
          type: object
          additionalProperties: false
          required:
            - low_price
            - high_price
            - width
          properties:
            low_price:
              type: number
              multipleOf: 0.01
              description: USD price serialized to 2 decimal places.
            high_price:
              type: number
              multipleOf: 0.01
              description: USD price serialized to 2 decimal places.
            width:
              type: number
              multipleOf: 0.01
              description: Rounded high minus rounded low, 2 decimal places.
    MarketReadInterpretation:
      type: object
      additionalProperties: false
      required:
        - days_to_expiry
        - range_vs_spot_percent
        - uncertainty_context
      properties:
        days_to_expiry:
          type: integer
          minimum: 0
          description: Calendar days from the snapshot as_of date to the resolved expiry.
        range_vs_spot_percent:
          $ref: "#/components/schemas/RangeVsSpotPercent"
        uncertainty_context:
          $ref: "#/components/schemas/UncertaintyContext"
    RangeVsSpotPercent:
      type: object
      additionalProperties: false
      required: [low_percent, high_percent, width_percent]
      properties:
        low_percent:
          type: number
          multipleOf: 0.01
        high_percent:
          type: number
          multipleOf: 0.01
        width_percent:
          type: number
          multipleOf: 0.01
          description: Rounded high_percent minus rounded low_percent.
    UncertaintyContext:
      type: object
      additionalProperties: false
      required:
        - rating
        - description
        - basis
        - materiality_threshold_vol_points
        - target_expiry
        - previous_expiry
        - next_expiry
      properties:
        rating:
          type: string
          enum:
            - higher_than_neighbors
            - lower_than_neighbors
            - rising_across_expiries
            - falling_across_expiries
            - similar_to_neighbors
            - mixed_or_flat
            - higher_than_available_neighbor
            - lower_than_available_neighbor
            - similar_to_available_neighbor
            - insufficient_context
        description:
          type: string
          description: Deterministic regular-language explanation of the rating.
        basis:
          type: string
          const: atm_iv_vs_adjacent_live_expiries
        materiality_threshold_vol_points:
          type: number
          const: 1.0
        target_expiry:
          $ref: "#/components/schemas/ExpiryIvContext"
        previous_expiry:
          anyOf:
            - $ref: "#/components/schemas/AdjacentExpiryComparison"
            - type: "null"
        next_expiry:
          anyOf:
            - $ref: "#/components/schemas/AdjacentExpiryComparison"
            - type: "null"
    ExpiryIvContext:
      type: object
      additionalProperties: false
      required: [expiry, atm_iv_percent]
      properties:
        expiry:
          type: string
          format: date
        atm_iv_percent:
          type: number
          multipleOf: 0.01
    AdjacentExpiryComparison:
      type: object
      additionalProperties: false
      required:
        - expiry
        - atm_iv_percent
        - target_minus_neighbor_vol_points
        - relation
      properties:
        expiry:
          type: string
          format: date
        atm_iv_percent:
          type: number
          multipleOf: 0.01
        target_minus_neighbor_vol_points:
          type: number
          multipleOf: 0.01
          description: Selected expiry ATM IV minus neighboring expiry ATM IV.
        relation:
          type: string
          enum: [target_higher, target_lower, similar]
    MarketReadDisclosures:
      type: object
      additionalProperties: false
      required:
        - informational_only
        - middle_50_range
        - atm_implied_volatility
        - source_and_freshness
      properties:
        informational_only:
          type: string
          const: "This is risk-neutral options pricing, not a forecast or a trade recommendation."
        middle_50_range:
          type: string
          const: "The middle 50% range is the interval from the 25th to the 75th percentile of the priced terminal distribution. Outcomes outside this range remain possible."
        atm_implied_volatility:
          type: string
          const: "Annualized ATM implied volatility measures priced uncertainty. It is not direction and not a literal expected move."
        source_and_freshness:
          type: string
          const: "Figures use the PPE lognormal reference methodology on the shared display payload. as_of is the snapshot build time; data_status cached means the in-process TTL cache was reused."
    ApiError:
      type: object
      additionalProperties: false
      required:
        - error
      properties:
        error:
          type: object
          additionalProperties: false
          required:
            - code
            - message
            - details
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              additionalProperties: true
